<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars!</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
  
  <div class="container">
    
    <div class="jumbotron text-center">
      <h1> Mission to Mars </h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
    </div>


    <div class="row">
        <div class="col-md-12">
{% for mars in mars  %}
        <h1> Latest Mars News </h1>
        <h3>{{mars.News_Title}} </h3>
        <h5> "{{mars.News_Paragraph}}" <br> - NASA Mars Exploration Program</h5>
        </div>
    </div>
    
    <div class= "row">
        <div class = "col-md-6">
        <h2> Featured Mars Image </h2>
        <img src = {{mars.Mars_Photo}} alt = "Mars Photo" height = '400' width = '500' >
        </div>
        <div class= "col-md-6">
        <h2>Mars Hemispheres</h2>
        <img src= {{mars.Hemisphere_Photos.0.img_url}} Alt = "Cerberus" height = '200' width = '200'>
        <img src= {{mars.Hemisphere_Photos.1.img_url}} Alt = "Schiaparelli" height = '200' width = '200'>
        <img src= {{mars.Hemisphere_Photos.2.img_url}} Alt = "Syrtis Major" height = '200' width = '200'>
        <img src= {{mars.Hemisphere_Photos.3.img_url}} Alt = "Valles Marineris" height = '200' width = '200'>
        </div>
    </div>
        
    <div class= "row">
        <div class= "col-md-4">
        <h3>Mars Facts</h3>
        <table> {{mars.Mars_Overview | safe}}</table>
        </div>
        <div class= "col-md-4">
        <h3>Mars-Earth Comparsion</h3>
        <table> {{mars.Mars_Comparison | safe}}</table>
        </div>
        <div class="col-md-4">
        <h3>Latest Mars Weather</h3>
        <h5>"{{mars.Mars_Weather}}" <br>- Mars Weather @MarsWxReport</h5>
        </div>
    </div>

  </div>
</body>
{% endfor %}
</html>

