<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars!</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>

    <div class= "row">
        <div class= "col-md-4">
        <h3>Mars Facts</h3>
        <table> {{mars.Mars_Overview | safe}}</table>
        </div>
        <div class= "col-md-4">
        <h3>Mars-Earth Comparsion</h3>
        <table> {{mars.Mars_Comparison | safe}}</table>
        </div>
        <div class="col-md-4">
        <h3>Latest Mars Weather</h3>
        <h5>"{{mars.Mars_Weather}}" <br>- Mars Weather @MarsWxReport</h5>
        </div>
    </div>

  </div>
</body>
{% endfor %}
</html>

